@import '../variables.scss';

#active-window {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 80px 40px 40px 40px;
    background-color: $white-pure;
    opacity: 0;
    transition: all 300ms ease-in-out;
    pointer-events: none;

    &.open {
        opacity: 1;
        pointer-events: auto;
    }

    .active-color {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        background: red;
        min-height: 47.9vw;
        border: 1px solid $gray-dark;
        border-radius: 10px;

        overflow: hidden;
    }

    .label {
        height: 135px;
        padding: 42px 40px 36px;
        background-color: $white-pure;
        font-size: 48px;
        font-weight: normal;
    }
}